.favorite:not(:first-child) {
    margin-top: 20px;
}

.delite-favorite-button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}